In [1]:
# pandas, numpy
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from pandas import Series,DataFrame

# matplotlib, seaborn
import matplotlib.pyplot as plt
import seaborn as sns
# to make the plots visible in notebook
%matplotlib inline

In [2]:
train = pd.read_csv('C:/Users/Doc/Projects/Rate prediction/train.csv')

In [3]:
train.shape

(316200, 6)

In [4]:
train.head()

  country  age  new_user source  total_pages_visited  converted
0      UK   25         1    Ads                    1          0
1      US   23         1    Seo                    5          0
2      US   28         1    Seo                    4          0
3   China   39         1    Seo                    5          0
4      US   30         1    Seo                    6          0

In [5]:
train.describe()

                 age       new_user  total_pages_visited      converted
count  316200.000000  316200.000000        316200.000000  316200.000000
mean       30.569858       0.685465             4.872966       0.032258
std         8.271802       0.464331             3.341104       0.176685
min        17.000000       0.000000             1.000000       0.000000
25%        24.000000       0.000000             2.000000       0.000000
50%        30.000000       1.000000             4.000000       0.000000
75%        36.000000       1.000000             7.000000       0.000000
max       123.000000       1.000000            29.000000       1.000000

In [53]:
ubiw= pd.DataFrame(train.groupby('country')['country'].count())

In [51]:
ubiw.head()

         country
country
China      76602
Germany    13056
UK         48450
US        178092

In [59]:
train.shape[0]

316200

In [62]:
per = (ubiw['country']/ train.shape[0] )* 100

country
China      24.225806
Germany     4.129032
UK         15.322581
US         56.322581
Name: country, dtype: float64

In [65]:
max(train['age'])

123

In [83]:
train.describe()

                 age  total_pages_visited      converted
count  316200.000000        316200.000000  316200.000000
mean       30.569858             4.872966       0.032258
std         8.271802             3.341104       0.176685
min        17.000000             1.000000       0.000000
25%        24.000000             2.000000       0.000000
50%        30.000000             4.000000       0.000000
75%        36.000000             7.000000       0.000000
max       123.000000            29.000000       1.000000

In [66]:
min(train['age'])

17

In [120]:
train[train['age']>100]

       country  age new_user source  total_pages_visited  converted
295581      UK  111        0    Ads                   10          1

In [117]:
train.iloc[295581]

country                 UK
age                     19
new_user                 0
source                 Ads
total_pages_visited      4
converted                0
Name: 295586, dtype: object

In [118]:
train = train.drop(train.index[295581])

train.age>100

In [113]:
train2 = train.drop(train.index[295581])

In [14]:
train.groupby('source')['source'].nunique()

source
Ads       1
Direct    1
Seo       1
Name: source, dtype: int64

In [18]:
train['new_user'].dtypes

dtype('int64')

In [24]:
train.new_user[3]

1

In [27]:
train['new_user'] = train['new_user'].astype('category')

In [29]:
gy = train.groupby('country')

TypeError: f() takes exactly 1 argument (2 given)